[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
actionlib = "==1.13.2"
aiofiles = "==0.5.0"
aiohttp = "==3.7.4.post0"
angles = "==1.9.13"
aniso8601 = "==7.0.0"
anyio = "==3.1.0"
appdirs = "==1.4.3"
apturl = "==0.5.2"
argon2-cffi = "==20.1.0"
astor = "==0.8.1"
astunparse = "==1.6.3"
async-exit-stack = "==1.0.1"
async-generator = "==1.10"
async-timeout = "==3.0.1"
attrs = "==19.3.0"
autobahn = "==17.10.1"
automat = "==0.8.0"
babel = "==2.9.1"
backcall = "==0.2.0"
bcrypt = "==3.1.7"
bleach = "==3.3.0"
blinker = "==1.4"
bondpy = "==1.8.6"
boto = "*"
breezy = "==3.0.2"
brlapi = "==0.7.0"
cachetools = "==4.2.2"
camera-calibration = "==1.15.3"
camera-calibration-parsers = "==1.12.0"
catkin = "==0.8.10"
catkin-pkg = "==0.4.23"
catkin-pkg-modules = "==0.4.23"
cbor = "==1.0.0"
certifi = "==2019.11.28"
cffi = "==1.14.5"
chardet = "==3.0.4"
cliapp = "==1.20180812.1"
click = "==6.7"
cloudpickle = "==1.6.0"
colorama = "==0.4.3"
command-not-found = "==0.3"
configobj = "==5.0.6"
constantly = "==15.1.0"
controller-manager = "==0.19.4"
controller-manager-msgs = "==0.19.4"
cryptography = "==2.8"
cupshelpers = "==1.0"
cv-bridge = "==1.15.0"
cycler = "==0.10.0"
cython = "==0.29.14"
dbus-python = "==1.2.16"
decorator = "==5.0.9"
defer = "==1.0.6"
defusedxml = "==0.6.0"
deprecated = "==1.2.7"
diagnostic-analysis = "==1.10.4"
diagnostic-common-diagnostics = "==1.10.4"
diagnostic-updater = "==1.10.4"
distlib = "==0.3.0"
distro = "==1.4.0"
distro-info = "===0.23ubuntu1"
dm-tree = "==0.1.6"
dnspython = "==2.1.0"
docutils = "==0.16"
dulwich = "==0.19.15"
flask = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
